# for mac
.DS_Store
._*

# for vim
.*.sw[p|o|n]
*.sw[p|o|n]
*.un~

# for perl
blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.json
MYMETA.yml
nytprof.out
pm_to_blib


# for project
/log/*.log


